 .duration {
     color: rgba(95, 210, 212, 00.7);
     transition: all 0.2s ease-in-out;

 }

h4{
    transition: all 0.2s ease-in-out;

}
i{
    transition: all 0.2s ease-in-out;

}
 .item-hover {
     color: rgba(29, 29, 29, 0.1);
     transition: all 0.2s ease-in-out;
 }

 .item-hover .duration {
     color: rgba(95, 210, 212, 0.1);
     transition: all 0.2s ease-in-out;


 }
 .item-hover i {
    color: rgba(148, 163, 184,0.1) ;
    
 }
 .item-hover h4 {
    color: rgba(148, 163, 184,0.1) ;
    
 }

 .item {
     color: rgb(210, 210, 210);
     transition: all 0.2s ease-in-out;

 }

 .item:hover {
     color: rgb(255, 255, 255);
     padding: 20px 0;

 }

 .item:hover .duration {
     color: rgba(95, 210, 212);

 }
 .item:hover i {
    color: rgba(95, 210, 212);

}
.item:hover h4 {
    color: rgb(255, 255, 255);

}

 @media (max-width:1023px)and (min-width:0) {
     .item i {
         font-size: 3em;
     }

     h4 {
        font-size: 20px;
     }
     .col-md-10{
        padding: 0 15px;
     }
 }