<section id="Education" class="pb-lg-5">

    <div id="nav-edu" class="navs-sm">
        <h2>Education</h2>
    </div>
    <div class="">
    
        <div class="row">
    
            <div (mouseenter)="hover()" (mouseleave)="unhover()" [ngClass]="{'item-hover': isHovered}"
                class="item w-100 d-flex border-bottom py-2">
                <div class="col-md-2 d-flex justify-content-center align-items-center">
    
                    <i class="fa-solid fa-building-columns fa-4x text-center"></i>
    
                </div>
                <div class="col-md-10">
                    <h4>Studied Computer Science at Faculty of Science, Cairo University.
                        <span class="duration">2021-2025</span>
                    </h4>
                </div>
            </div>
            <div (mouseenter)="hover()" (mouseleave)="unhover()" [ngClass]="{'item-hover': isHovered}"
                class="item item-hover w-100 d-flex border-bottom py-2">
                <div class="col-md-2 d-flex justify-content-center align-items-center">
    
                    <i class="fa-solid fa-code fa-4x text-center"></i>
    
                </div>
                <div class="col-md-10">
                    <h4>Frontend Development deploma at ROUTE Academy. <span class="duration">2022-2023</span>
                    </h4>
                </div>
            </div>
    
    
    
        </div>
    </div>
</section>
