p{
    line-height: 3rem;
    transition: all 0.2s ease-in-out;
}

p:hover{
    color: white;
    padding: 30px 10px;
}
p:hover  span{
    color: rgba(95, 210, 212);


}

.item-hovered{
    color: rgba(0, 0, 0, 0.3);
}
.item-hovered span{
    color: rgba(95, 210, 212, 0.3);

}
span{
    color: rgba(95, 210, 212, 0.7);

}
h2{
    display: none;
}
@media (min-width:0px) and (max-width:767px)  {
h2{
    display: block;
    padding-left:8px ;
    
}
.About{
    padding: 20px 0;
}

}