<section id="Experience" aria-labelledby="experience-title">
  <h2 id="experience-title" class="section-kicker">Experience</h2>

  <article class="experience-card" *ngFor="let item of items">
    <div class="experience-date">{{item.duration}}</div>

    <div>
      <p class="context">{{item.context}}</p>
      <h3>{{item.job_title}}</h3>

      <ul>
        <li *ngFor="let highlight of item.highlights">{{highlight}}</li>
      </ul>

      <div class="technologies">
        <span *ngFor="let technology of item.technologies">{{technology}}</span>
      </div>
    </div>
  </article>

  <a class="resume-link"
    href="https://drive.google.com/file/d/1MJjANAlk4aNzzzrWPFS05Lg_sSS9qYgJ/view?usp=sharing"
    target="_blank" rel="noopener noreferrer">
    View full résumé
    <i class="fa-solid fa-arrow-right-long" aria-hidden="true"></i>
  </a>
</section>
