<section id="Experience" aria-labelledby="experience-title">
  <h2 id="experience-title" class="section-kicker">Experience</h2>

  <div class="experience-list">
    <article class="experience-card" *ngFor="let item of items">
      <div class="experience-content">
        <div class="experience-date">
          <p class="context">{{item.context}}</p>
          <span class="duration">{{item.duration}}</span>
        </div>
        <h3 class="my-3">{{item.job_title}}</h3>

        <ul>
          <li *ngFor="let highlight of item.highlights">{{highlight}}</li>
        </ul>

        <div class="technologies">
          <span *ngFor="let technology of item.technologies">{{technology}}</span>
        </div>
      </div>
    </article>
  </div>

  <a class="resume-link" href="https://drive.google.com/file/d/1MJjANAlk4aNzzzrWPFS05Lg_sSS9qYgJ/view?usp=sharing"
    target="_blank" rel="noopener noreferrer">
    View full résumé
    <i class="fa-solid fa-arrow-right-long" aria-hidden="true"></i>
  </a>
</section>