<section id="Experience" aria-labelledby="experience-title">
  <h2 id="experience-title" class="section-kicker">Experience</h2>

  <div class="experience-list">
    <article class="experience-card" *ngFor="let item of items">


      <span class="timeline-dot" aria-hidden="true"></span>
      <div class="experience-date">
        <span class="duration">{{item.duration}}</span>
      </div>
      <div class="experience-content">
        <p class="context">{{item.context}}</p>
        <h3>{{item.job_title}}</h3>

        <ul>
          <li *ngFor="let highlight of item.highlights">{{highlight}}</li>
        </ul>

        <div class="technologies">
          <span *ngFor="let technology of item.technologies">{{technology}}</span>
        </div>
      </div>
    </article>
  </div>

  <a class="resume-link" href="https://drive.google.com/file/d/1xmozCjifm5MgZmpDX4EA6Qh5Grg6rbZ1/view?usp=sharing"
    target="_blank" rel="noopener noreferrer">
    View full résumé
    <i class="fa-solid fa-arrow-right-long" aria-hidden="true"></i>
  </a>
</section>