h5 {
    font-weight: 450 !important;
    color: rgba(255, 255, 255, 0.892);
    transition: color 0.2s ease-in-out;
}

span {
    color: #94a3b8;
    transition: all 0.2s ease-in-out;
}



.tech {
    color: #5fd2d4;
    background-color: #5fd2d44e;
    border-color: transparent !important;
    font-size: 14px;
    margin-right: 5px;
    transition: all 0.2s ease-in-out;
}

.src-code {
    color: #0e48d0;
    background-color: #0e48d04e;
    border-color: transparent !important;
    font-size: 14px;
    margin-right: 5px;
    transition: all 0.2s ease-in-out;
}

.item {
    padding: 3px;
    border: 2px solid transparent;
    border-radius: 5px;
    /* margin: 10px 0; */
    padding: 15px 5px;
    margin-bottom: 30px;
    transition: all 0.2s ease-in-out;
    

}
.item p {
    color: #94A3B8 !important;
    transition: all 0.2s ease-in-out;

}
.item img{
    transition: filter 0.2s ease-in-out;
}


.item:hover {
    background-color: rgba(255, 255, 255, 0.06) !important;
    box-shadow: 1px 1px 10px 1px rgba(47, 47, 47, 0.268) !important;
    color: #94a3b8;
    padding:30px 0px ;


}

.item:hover h5 {
    color: #5fd2d4 !important;

}

.item:hover .tech {
    background-color: #5fd2d44e;
    color: #5fd2d4;



}
.item:hover img{
    filter: brightness(1);
    }

.item-hover {
    color: rgba(95, 210, 212, 0.1);
}

.item-hover span {
    color: rgba(255, 255, 255, 0.2);

}

.item-hover h5 {
    color: rgba(255, 255, 255, 0.4)!important;

}
.item-hover img{
filter: brightness(0.25);
}

.item-hover .tech {
    background-color: rgba(95, 210, 212, 0.1);
    color: rgba(95, 210, 212, 0.1);


}

.item-hover p{
    color: rgba(148, 163, 184,0.1) !important;

}
.item:hover span,p {
    color: #94a3b8  ;

}
.item:hover p {
    color: #94a3b8 !important;

}
@media (max-width:1249px) and (min-width:0) {
    .col-md-3,.col-md-9{
       width: 100%;
    }
    .col-md-3 img{
        width: 100%;
    }
}