<section id="Skills" class="pb-lg-5">

    <div id="nav-skills" class="navs-sm">
        <h2>Skills</h2>
    </div>
    <div class="container-fluid py-3">
        <div class="row justify-content-between">
            <div (mouseenter)="hover()" (mouseleave)="unhover()" [ngClass]="{'skill-hovered':isHovered}"
                *ngFor="let skill of skills"
                class="col-md-1 d-flex justify-content-center align-items-start position-relative  flex-wrap skill ">
                <div class="position-absolute icon top-0">
                    <i *ngIf="skill.icon" class="{{ skill.icon }}  fa-3x icon "></i>
    
                    <img *ngIf="skill.imgSrc" [src]="skill.imgSrc" alt="{{ skill.title }}" class="w-100 image " />
    
                    <div class=" margin1 " *ngIf="skill.title=='MongoDB'">
                        <svg id="mySVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            viewBox="0,0,256,256" width="48px" height="48px" fill-rule="nonzero">
                            <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                style="mix-blend-mode: normal">
                                <g transform="scale(5.33333,5.33333)">
                                    <path
                                        d="M34,26c0,-13 -10,-24 -10,-24c0,0 -10,11 -10,24c0,10.698 6.768,13.268 9.166,13.843l0.834,-30.843l0.834,30.843c2.398,-0.575 9.166,-3.145 9.166,-13.843z">
                                    </path>
                                    <path
                                        d="M23.166,39.843l-0.166,6.157h2l-0.166,-6.157c-0.516,0.124 -0.834,0.157 -0.834,0.157c0,0 -0.318,-0.033 -0.834,-0.157z">
                                    </path>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class=" margin1 " *ngIf="skill.title=='ExpressJS'">
                        <svg id="mySVG2" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50"
                            viewBox="0,0,256,256">
                            <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                style="mix-blend-mode: normal">
                                <g transform="scale(5.12,5.12)">
                                    <path
                                        d="M49.729,11h-0.85c-1.051,0 -2.041,0.49 -2.68,1.324l-8.7,11.377l-8.7,-11.377c-0.637,-0.834 -1.628,-1.324 -2.678,-1.324h-0.85l10.971,14.346l-11.206,14.654h0.85c1.051,0 2.041,-0.49 2.679,-1.324l8.935,-11.684l8.935,11.684c0.638,0.834 1.628,1.324 2.679,1.324h0.85l-11.206,-14.654zM21.289,34.242c-2.554,3.881 -7.582,5.87 -12.389,4.116c-4.229,-1.543 -6.9,-5.747 -6.9,-10.249v-1.109h12v0h11v-4.134c0,-6.505 -4.818,-12.2 -11.295,-12.809c-7.432,-0.699 -13.705,5.153 -13.705,12.443v5.573c0,5.371 3.215,10.364 8.269,12.183c6.603,2.376 13.548,-1.17 15.896,-7.256v0h-0.638c-0.911,0 -1.738,0.481 -2.238,1.242zM2,22.5c0,-5.79 4.71,-10.5 10.5,-10.5c5.79,0 10.5,4.71 10.5,10.5v2.5h-21z">
                                    </path>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
    
    
                <p class="title position-absolute bottom-0">{{ skill.title }}</p>
            </div>
        </div>
    </div>
</section>
