<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<div class="background w-100 p-0 m-0">
  <div class="spotlight" [ngStyle]="spotlightStyle"></div>
</div>
<div class="container-fluid p-0">
  <div class="row">
    <div class="col-md-4 ">
      <app-nav/>
    </div>
    <div class="col-md-8 py-lg-5">
      <div class="container-fluid text-light p-0 ">
        <app-about  class="position-relative" />
        <app-education  class="position-relative" />
        <app-skills  class="position-relative" />
        <app-experience class="position-relative" />
        <app-projects class="position-relative" />

      </div>

    </div>
  </div>
</div>