.col-md-4 {
    padding: 6rem 0;

    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
}

.col-md-8 {
    padding: 6rem 0 !important;


}

.row {
    padding: 0 9rem;
    margin-left: 0;
    margin-right: 0;
}


@media (max-width:1023px)and (min-width:0) {
    .row {
        padding: 0rem 1rem;


    }

    .col-md-8 {

        padding: 0px 0px !important;

    }
}

@media (max-width:768px)and (min-width:0) {
    .col-md-4 {
        position: static;
        height: auto;
        top: auto;
        left: auto;
        bottom: auto;
        padding: 0 0;
    }

    .spotlight {
        display: none;
    }

}