/* You can add global styles to this file, and also import other style files */

body {
    font-family: monospace !important;

}


.background {
    background-color: rgba(15, 23, 42);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -5;
}

.spotlight {
    position: absolute;
    width: 800px;
    height: 800px;
    background: rgb(17, 32, 68);
    background: radial-gradient(circle, rgba(23, 47, 101, 0.7) 0%, rgba(15, 23, 42, 1) 60%);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: -4;
}

p {
    color: #94a3b8;
}

.navs-sm {
    display: none;
}

::selection {
    background-color: #5fd2d495;
    color: #ffffff;
  }
  span::selection{
    color: #000;

  }
 
@media (max-width: 767px) and (min-width: 0) {
    .navs-sm {
        display: block;
        background-color: #0f172aeb;
        color: white;
        padding: 15px 0;
        z-index: 20;
   
    }
}
